<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>
	<h1>HealthNet</h1>

	<h2>Welcome, {% block name %} {{ user.user.get_full_name }} {% endblock %} to HealthNet</h2>

    <ul>

     <li><a href="{% url 'User:dashboard'%}">Dashboard</a></li>
	 <li><a href="/logout">Log Out</a></li>
	
    {% if user.getType == "patient" %}

        <li><a href="{% url 'User:eProfile' %}">Edit Profile</a></li>

    {% elif user.getType == "nurse" %}

    {% elif user.getType == "doctor" %}

    {% endif %}
     </ul>

    {% block content %}
    {% endblock %}

</body>

</html>