{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'moment/min/moment.min.js' %}"></script>
	<script src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
    <script type="text/javascript" src = "{% static 'javascript/form_filters.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>

<body>

<ul id="navbar">
	<li><a href="/logout" class="right">Log Out</a></li>
    <li><a href="{% url 'user:vProfilec' %}">Profile</a></li>
	
	{% if user.getType == "patient" %}

        <li><a href="{% url 'emr:vsemr' %}">Emr</a></li>

    {% elif user.getType == "nurse" or user.getType == "doctor"%}
        <li><a href="{% url 'user:registry' %}">Search Healthnet</a></li>
    {% endif %}
	
    <li><a href="{% url 'user:dashboard'%}">Dashboard</a></li>
</ul>

	<h1 id="baseBanner">HealthNet</h1>

	<h2 id="subBanner">Welcome, {% block name %} {{ user.user.get_full_name }} {% endblock %} to HealthNet</h2>

    {% block content %}
    {% endblock %}

</body>

</html>