{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include 'user/sources.html' %}
    {% csrf_token %}

    {% block head %}
    {% endblock %}
    <title>{{ title }}</title>
</head>

<body onload="initBody()">

{% if message %}
	<script>
		alert('{{ message }}');
	</script>
{% endif %}

<form id = "hiddenformpost" method = "POST" action="" style="display: None;">
    {% csrf_token %}
    <input name="json" type = "text" value=""/>
</form>

<ul id="navbar">
	<li><a href="/logout" class="right">Log Out</a></li>
    <li><a href="{% url 'user:vProfilec' %}">{{ user.user.first_name }}'s Profile</a></li>
    <li><a href="{% url 'user:dashboard'%}">Dashboard</a></li>

	{% if user.getType == "patient" %}
        <li><a href="{% url 'emr:vsemr' %}">EMR</a></li>
        <li><a href="{% url 'user:sendMessage' %}">Message</a></li>

    {% elif user.getType == "nurse" or user.getType == "doctor"  or user.getType == "hosAdmin"%}
        <li><a href="{% url 'user:registry' %}">Search Healthnet</a></li>
        <li><a href="{% url 'syslogging:viewlog' %}">Hospital Log</a></li>
        <li><a href="">System Statistics</a></li>

    {% elif user.getType == "hosAdmin" %}
        <li><a href="{% url 'syslogging:viewlog' %}">Hospital Log</a></li>
    {% endif %}



    <div tabindex=0 class="drop_down_wrap note_wrap">
        <div id = "note" class="note_heading">
            Notifications
        </div>
        <div id = "note_drop" class="drop_down_hide">
            {% if user.user.notification_set.all.count > 0 %}
                {% for note in user.user.notification_set.all %}
                    <div class="notice" data-dis_url="{% url 'user:disnote' note.pk %}" onfocus="this.parentElement.focus()">
                        <label>{{ note.title }}</label>
                        <a onclick="ajax_dismiss_note(this.parentElement)">Dismiss</a>
                        {% if note.getLine != "" %}
                            <a href="{{ note.getLink }}">View</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="notice">
                    <label>No Notifications</label>
                </div>
            {% endif %}
        </div>
    </div>
</ul>

	<div id="subBanner">
        {% block back %}
        {% endblock %}

        <h2>{{ title }}</h2>
    </div>

    {% block content %}
    {% endblock %}

</body>

</html>