<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>
	<h1>HealthNet</h1>
	
	<h2>Welcome, {% block name %} {% endblock %} to HealthNet</h2>
	
    {% if userType == "patient" %}
        <ul>
            <li><a href="{% url 'patientIndex' %}">Dashboard</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'emr/index.html' %}">EMR</a></li>
        </ul>
    {% elif userType == "nurse" %}
        <ul>
            <li><a href="{% url 'nurseIndex' %}">Dashboard</a></li>
        </ul>
    {% elif userType == "doctor" %}
        <ul>
            <li><a href="{% url 'doctorIndex' %}">Dashboard</a></li>
            <li><a href="{% url 'patientList' %}">Patients</a></li>
        </ul>
    {% endif %}
	
	{% block calendar %}
	{% endblock %}
	
	{% block content %}
	{% endblock %}
</body>

</html>