{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'moment/min/moment.min.js' %}"></script>
	<script src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
    <script type="text/javascript" src = "{% static 'javascript/form_filters.js' %}"></script>
    {% csrf_token %}

    {% block head %}
    {% endblock %}
</head>

<body>

{% if message %}
	<script>
		alert('{{ message }}');
	</script>
{% endif %}

<ul id="navbar">
	<li><a href="/logout" class="right">Log Out</a></li>
    <li><a href="{% url 'user:vProfilec' %}">Profile</a></li>
	
	{% if user.getType == "patient" %}
        <li><a href="{% url 'emr:vsemr' %}">EMR</a></li>

    {% elif user.getType == "nurse" or user.getType == "doctor" %}
        <li><a href="{% url 'user:registry' %}">Search Healthnet</a></li>

    {% elif user.getType == "hosAdmin" %}
        <li><a href="{% url 'syslogging:viewlog' %}">Hospital Log</a></li>
    {% endif %}
	
    <li><a href="{% url 'user:dashboard'%}">Dashboard</a></li>

    <div tabindex=0 id = "note_wrap" class="drop_down_wrap">
        <input onfocus="this.parentElement.focus()" type = "button" class="note_heading" value="Notifications"/>
        <div class="drop_down">
            {% for note in user.user.notification_set.all %}
                <div class="notice" data-dis_url="{% url 'user:disnote' note.pk %}">
                    <label>{{ note.title }}</label>
                    <a href="" onclick="ajax_dismiss_note(this.parentElement)">Dismiss</a>
                    <a href="{% url 'user:note' note.pk %}">View</a>
                </div>
            {% endfor %}
        </div>
    </div>
</ul>

	<h1 id="baseBanner">HealthNet</h1>

	<h2 id="subBanner">Welcome, {% block name %} {{ user.user.get_full_name }} {% endblock %} to HealthNet</h2>

    {% block content %}
    {% endblock %}

</body>

</html>