{% extends 'user/base.html' %}

{% block content %}
	<div id="contentBox">
		<form enctype="multipart/form-data" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
				{% if field.errors %}
					<div class="error"> {{ field.errors }} </div>
				{% endif %}
				
                {{ field.label_tag }} {{ field }} 
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type = "submit" value = "Save" class="button"/>
        </form>
        {% if links.true %}
            <li>Doctor file: <a href={{ links.doc }}>doctor.csv</a></li>
            <li>Nurse file: <a href={{ links.nur }}>nurse.csv</a></li>
            <li>Patient file: <a href={{ links.pat }}>patient.csv</a></li>
        {% endif %}
	</div>
{% endblock %}