{% extends 'user/base.html' %}

{% block content %}

    {% if user.getType == "hosAdmin" %}
        {% include 'user/SearchModule.html' %}
    {% else %}
        <div class="calendar">
        {% if user.getType != "nurse" %}
            {% include 'user/calendar.html' %} {% comment %} This include requires access to the events context variable {% endcomment %}
        {% endif %}
	    </div>
	
    	{% comment %} this displays fullcalendar.io {% endcomment %}
        <script>
            var customButtons = {
                    appointment: {
                        text: 'Create Appointment',
                        click: function() {
                            window.location = "{% url 'user:cEvent' %}";
                        }
                    },
                    show:
                    {
                        text: 'Show',
                        click: function (e) {
                            var texts = "ShowHide";
                            var inner = e.toElement.innerHTML;

                            var cwrap = document.getElementsByClassName("calendarWrap")[0];
                            if(inner == "Show"){
                                cwrap.setAttribute("style", "");
                            }
                            else{
                                cwrap.setAttribute("style", "height: 300px;");
                            }

                            e.toElement.innerHTML = texts.replace(inner, "")
                        }
                    },
                    hide:
                    {
                        text: 'Hide',
                        click: function (e) {
                            alert(typeof e)
                        }
                    }};
            var header = {
				left: 'prev,next today appointment show',
                center: 'title',
                right: 'agendaDay,agendaWeek,month'
            };
        </script>
        <div class="calendarWrap"  style="height: 300px;">
	        <div id='calendar' class='mainCalendar'></div>
        </div>
    {% endif %}

{% endblock %}
