{% extends 'user/base.html' %}

{% block content %}

    {% if user.getType != "hosAdmin" and user.getType != "nurse" %}
        {% comment %} this displays fullcalendar.io {% endcomment %}


        {% if user.getType != "nurse" %}
            {% include 'user/calendar.html' %} {% comment %} This include requires access to the events context variable {% endcomment %}
        {% endif %}

        <div id='calendar' class='calendar'></div>
    {% elif user.getType == "nurse" %}
        {% include 'user/nurseDash.html' %}
    {% else %}
        {% include 'user/hosAdDash.html' %}

    {% endif %}




{% endblock %}
