{% extends 'user/base.html' %}

{% block content %}

    {% if form_basic != None %}
        <div id="registerBox">
            <h2>Profile Info</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_basic.as_ul }}

                {% if form_medical != None %}
                    <h2>Doctor and Hospital</h2>
                        {% csrf_token %}
                        {{ form_medical.as_ul }}
                {% else %}
                <h2>Doctor and Hospital</h2>
                    <li>Doctor: {{ tuser.doctor }}</li>
                    <li>Hospital {{ tuser.hospital }}</li>
                {% endif %}

                {% if form_emergency != None %}
                    <h2>Emergency Contact</h2>
                        {% csrf_token %}
                        {{ form_emergency.as_ul }}
                <input type = "button" onclick="submit_form(this)" value = "Save" class="button"/>
            </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}