{% extends 'user/base.html' %}
{% block back %}<button onclick="go('{% url 'user:dashboard' %}')">Back</button>{% endblock %}
{% block content %}
<div id="registerBox">
    <h2>{{ event.title|truncatewords:10 }}</h2>

    {% if form != None %}
        <form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type = "button" onclick="submit_form(this)" value = "Save" class="button"/>
        </form>
    {% else %}
        <ul>

        <li>Hospital: {{ event.hospital }}</li>
        <li>Start Time: {{ event.startTime }}</li>
        <li>End Time: {{ event.endTime }}</li>

        {% if event.patient != None %}
        <li>Patient: <a href="{% url 'user:vProfile' event.patient.user.id%}">{{ event.patient.user.get_full_name }}</a></li>
        {% endif %}

        <li>Doctor: <a href="{% url 'user:vProfile' event.doctor.user.id %}">{{ event.doctor.user.get_full_name }}</a></li>
		<li>Description: {{ event.description }}</li>
        </ul>
        {% if permissions.can_edit %}
            <input type = "button" class="button" onclick="window.location='{% url 'user:eEvent' event.id %}'" value = "Edit" />

            <input type = "button" class="button"
            {% if permissions.can_cancle %}
                onclick="window.location='{% url 'user:delEvent' event.id %}'"
            {% else %}
               title = "Events that are less than 48 hours in the future can't be cancleed"
            {% endif %}
            value = "cancle" />

        {% endif %}
    {% endif %}
</div>
{% endblock %}