{% extends 'user/base.html' %}
{% load staticfiles %}
{% block head %}
    <title>New Event</title>
{% endblock %}

{% block content %}
<div class="content_box half left">
    <form id = "create_event_form" enctype="multipart/form-data" action="{% url 'user:cEvent' %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }} {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type = "submit" value = "Save" class="button"/>
    </form>
</div>

<div class="half right">
	<div id="calendar"></div>
	
	{% include 'user/calendar.html' %}
	
</div>
{% endblock %}