{% extends 'User/base.html' %}

{% block content %}
    <h2>{{ event.description|truncatewords:10 }}</h2>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type = "submit" value = "Save" />
    </form>
    <ul>
        {% if event.patient != None %}
        <li>Patient Calendar: <a href="{% url 'User:vCalendar' 'p' event.patient.id%}">{{ event.patient.firstName }} {{ event.patient.lastName }}</a></li>
        {% endif %}
        <li>Doctor Calendar: <a href="{% url 'User:vCalendar' 'd' event.doctor.id %}">{{ event.doctor.firstName }} {{ event.doctor.lastName }}</a></li>
        <li><a href="{% url 'User:eEvent' event.id %}">Edit</a></li>
    </ul>
{% endblock %}