{% extends 'User/base.html' %}

{% block content %}
    <h2>{{ event.description|truncatewords:10 }}</h2>
    <ul>
        <li>Start Time: {{ event.startTime }}</li>
        <li>End Time: {{ event.endTime }}</li>
        <li>Description: {{ event.description }}</li>
        {% for u in users %}
            <li>{{ u.getType|upper }} Calendar: <a href="{% url 'User:vCalendar' u.id %}">{{ u.firstName }} {{ u.lastName }}</a></li>
        {% endfor %}
        <li><a href="{% url 'User:eEvent' event.id %}">Edit</a></li>
    </ul>
{% endblock %}