{% extends 'user/base.html' %}
{% block back %}<button onclick="go('{% url 'user:dashboard' %}')">Back</button>{% endblock %}
{% block content %}
<div id="contentBox">
    <h2>{{ event.title|truncatewords:10 }}</h2>

    {% if form != None %}
        <form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
			{% for field in form %}
				<div class="fieldWrapper">
					{% if field.errors %}
						<div class="error"> {{ field.errors }} </div>
					{% endif %}
					
					{{ field.label_tag }} {{ field }} 
					{% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				</div>
			{% endfor %}
            <input type = "button" onclick="submit_form(this)" value = "Save" class="button"/>
        </form>
    {% else %}
        <ul>

        <li>Hospital: {{ event.hospital }}</li>
        <li>Start Time: {{ event.startTime }}</li>
        <li>End Time: {{ event.endTime }}</li>

        {% if event.patient != None %}
            {% if user.hospital == event.patient.hospital %}
                <li>Patient: <a href="{% url 'user:vProfile' event.patient.user.id%}">{{ event.patient.user.get_full_name }}</a></li>
            {% else %}
                <li>Patient: {{ event.patient.user.get_full_name }}</li>
            {% endif %}
        {% endif %}

        <li>Doctor: <a href="{% url 'user:vProfile' event.doctor.user.id %}">{{ event.doctor.user.get_full_name }}</a></li>
		<li>Description: {{ event.description }}</li>
        </ul>
        {% if permissions.can_edit %}
            <input type = "button" class="button" onclick="window.location='{% url 'user:eEvent' event.id %}'" value = "Edit" />

            <input type = "button" class="button"
            {% if permissions.can_cancle %}
                onclick="window.location='{% url 'user:delEvent' event.id %}'"
            {% else %}
               title = "Events that are less than 48 hours in the future can't be cancled"
            {% endif %}
            value = "Cancel Event" />

        {% endif %}
    {% endif %}
</div>
{% endblock %}