{% extends "baseDashboard.html" %}

{% block name %} {{ patient.firstName }} {% endblock %}


{% block navbar %}
	<ul>
		<li><a href="{% url 'patientIndex' %}">Dashboard</a></li>
		<li><a href="{% url 'profile' %}">Profile</a></li>
	<ul>
{% endblock %}


{% block calendar %}
	
{% endblock %}


{% block content %}
	<ul>
		<li>Your doctor is: {{ patient.doctor.firstName }} {{ patient.doctor.lastName }}</li>
		<li>The hospital you are registered at is: {{ patient.hospital.name }}</li>
	</ul>
{% endblock %}