 <h2>Profile of: {{ tuser.user.get_full_name }}</h2>
    <ul>

    {% if tuser.getType == "patient" %}
        <li><h2>Personal Info</h2></li>
        {% if tuser.user.email != "" %}
            <li>Email: {{ tuser.user.email }}</li>
        {% else %}
            <li>Email: N/A</li>
        {% endif %}
        <li>Phone: {{ tuser.phone }}</li>
        {% if tuser.address != "" %}
            <li>Emergency Contact: {{ tuser.address }}</li>
        {% else %}
            <li>Address: N/A</li>
        {% endif %}
        <li><h2>Medical Info</h2></li>
        <li>Insurance #: {{ tuser.insuranceNum }}</li>
        <li>Hospital: {{ tuser.hospital.name }}</li>
        {% if user.getType == 'nurse' or user.getType == 'hosAdmin' or user.getType == 'doctor' %}
            <li>Doctor: <a href="{% url 'user:vProfile' tuser.doctor.user.pk %}">{{ tuser.doctor.user.get_full_name }}</a></li>
        {% else %}
            <li>Doctor: {{ tuser.doctor.user.get_full_name }}</li>
        {% endif %}
        {% if tuser.contact.full_name != "" %}
            <li>Emergency Contact: {{ tuser.contact.full_name }}</li>
        {% else %}
            <li>Emergency Contact: N/A</li>
        {% endif %}
        {% if user.getType != 'patient' %}
            <li><a href="{% url 'emr:vemr' tuser.id %}" class="button">EMR</a></li>
        {% endif %}

        {% if user.getType == 'patient' %}
            <li><a href="{% url 'user:eProfile' user.user.pk %}" class="button">Edit</a></li>
        {% endif %}
    {% elif tuser.getType == "doctor" %}
        <li>Email:{{ tuser.user.email }}</li>

{% comment %} %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% DISPLAY DOCTOR'S patients %%%%%%%%%%{% endcomment %}
        <h3>Patients</h3>

        {% for p in tuser.patient_set.all %}
            {% if user.hospital.name == p.hospital.name  or p.doctor.user.pk == user.user.pk %}
                <li><a href = "{% url 'user:vProfile' p.user.id %}">{{ p.user.get_full_name }}</a></li>
            {% else %}
                <li>{{ p.user.get_full_name }}</li>
            {% endif %}

        {% endfor %}

{% comment %} %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% DISPLAY DOCTOR'S HOSPITALS %%%%%%%%%%{% endcomment %}
        <h3>Hosptials</h3>

        {% for h in tuser.hospitals.all %}

            <li>{{ h.name }}</li>

        {% endfor %}

        {% if user.getType == 'hosAdmin' %}
            {% include 'user/AppRemLink.html' %}
        {% endif %}
    {% elif tuser.getType == "nurse" %}
        <li>Email:{{ tuser.user.email }}</li>

        <h2>Trusted By:</h2>

        {% for d in trustdocs %}
            <li><a href = "{% url 'user:vProfile' d.user.id %}">{{ d.user.get_full_name }}</a></li>
        {% endfor %}

        {% if user.getType == 'hosAdmin' %}
            {% if tuser.accepted %}
                {% include 'user/TrustDropdown.html' %}
            {% endif %}
            {% include 'user/AppRemLink.html' %}
        {% endif %}
    {% elif tuser.getType == "hosAdmin" %}
        <li>Email:{{ tuser.user.email }}</li>
        <h2>Hospital</h2>
        <li>{{ tuser.hospital.name }}</li>
    {% endif %}
    </ul>