{% extends 'emr/base_emr.html' %}
{% block back %}<button onclick="go('{% url 'user:dashboard' %}')">Back</button>{% endblock %}
{% block content %}
    <div id = stats_manage>
        <form action="" method="POST" enctype="multipart/form-data" onkeypress="submit_on_enter()">
            {% csrf_token %}
            <div class = "toolbar">
                <div class="toolbar_item_wrap">
                    <input type = "button" class="toolbar_item_header" value="Most Frequent Keywords"/>
                    <div class="toolbar_drop_down_css">
                        <div class="toolbar_item split_field_stat no_border">
                            <div class="stat_label">Admission</div>
                            {{ form.kw_admit }}
                        </div>
                        <div class="toolbar_item split_field_stat no_border">
                            <div class="stat_label">Discharge</div>
                            {{ form.kw_dis }}
                        </div>
                    </div>
                </div>
                <div class="toolbar_item_wrap">
                    <input type = "button" class="toolbar_item_header" value="Filter"/>
                    <div class="toolbar_drop_down_css">
                        <div class="toolbar_item">
                            <input type="button" class="toolbar_item_label_inline" value="Average Number of patient visits each day,week,month" />{{ form.filters.0.tag }}
                        </div>
                        <div class="toolbar_item">
                            <input type="button" class="toolbar_item_label_inline" value="Average Length of time from admission to discharge" />{{ form.filters.1.tag }}
                        </div>
                        <div class="toolbar_item">
                            <input type="button" class="toolbar_item_label_inline" value="Prescription Frequency" />{{ form.filters.2.tag }}
                        </div>
                        <div class="toolbar_item">
                            <div class="stat_label">Patient Name</div>{{ form.kw_patient }}
                        </div>
                    </div>
                </div>

                <div class="toolbar_item_wrap">
                    <input id = "stat_timeframe" type = "button" class="toolbar_item_header" value="Timeframe"/>
                    <div class="toolbar_drop_down_js hide_l" data-toggle_id="stat_timeframe">
                        <div class="toolbar_item split_field_stat no_border">
                            <div class="stat_label">Interval Start</div>
                            {{ form.start }}
                        </div>
                        <div class="toolbar_item split_field_stat no_border">
                            <div class="stat_label">Interval End</div>
                            {{ form.end }}
                        </div>
                    </div>
                </div>

                <input type = "submit" value="Submit" class="toolbar_submit clickable" />
            </div>
        </form>
    </div>

    <div class="content_box left half">
        <h1>Hospital Statistics</h1>
{#        scope_stats = {'patients_visiting_per': {'day': 0, 'week': 0, 'month': 0, 'year': 0, 'total': 0}, 'comm_pres': {}, 'ave_stay_length': 0, 'kw_admit_r':{}, 'kw_dis_r':{}}#}
        <div class="card_body">
            <table style="border-collapse: separate;border-spacing: 0 5px;">
                <tr><td>Average Number of Patients Visiting the Hospital Per</td>
                    <td class = "stat_data_left">
                        <span class="btm_bdr_org"> Day: {{ scope_stats.patients_visiting_per.day|floatformat:2 }}</span>
                        <span class="btm_bdr_org"> Week: {{ scope_stats.patients_visiting_per.week|floatformat:2 }}</span>
                        <span class="btm_bdr_org"> Month: {{ scope_stats.patients_visiting_per.month|floatformat:2 }}</span>
                        <span class="btm_bdr_org"> Year: {{ scope_stats.patients_visiting_per.year|floatformat:2 }}</span>
                        <span class="btm_bdr_org"> Total: {{ scope_stats.patients_visiting_per.total|floatformat:2 }}</span>
                    </td>
                </tr>

                <tr>
                    <td>Prescription Frequency</td>
                    <td class = "stat_data_left">
                        {% for key, value in scope_stats.comm_pres.items %}
                            <span class="btm_bdr_org"> {{ key }}: {{ value|floatformat:2 }}</span>
                        {% endfor %}
                    </td>
                </tr>

                <tr><td>Average Stay Length</td><td class = "stat_data_left"><span class="btm_bdr_org"> {{ scope_stats.ave_stay_length|floatformat:2 }} Days</span></td></tr>
                {% if scope_stats.kw_admit_r %}
                    <tr><td>Average Stay Length</td>
                        <td class = "stat_data_left">
                            {% for k, v in scope_stats.kw_admit_r.items %}
                                <span class="btm_bdr_org"> {{ k }}: {{ v }}</span>
                            {% endfor %}
                        </td></tr>
                {% endif %}

                {% if scope_stats.kw_dis_r %}
                    <tr><td>Discharge Keyword Frequency</td>
                        <td class = "stat_data_left">
                            {% for k, v in scope_stats.kw_dis_r.items %}
                                <span class="btm_bdr_org"> {{ k }}: {{ v }}</span>
                            {% endfor %}
                        </td></tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div class="content_box right half">
        <h1>Individual Patient Statistics</h1>
{#        scope_stats = {'patients_visiting_per': {'day': 0, 'week': 0, 'month': 0, 'year': 0, 'total': 0}, 'comm_pres': {}, 'ave_stay_length': 0, 'kw_admit_r':{}, 'kw_dis_r':{}}#}
        <div class="card_body">

            {% for dict in patients_stats %}
{#                {'patient': p, 'visits_per': numAppts, 'comm_pres': cpres, 'ave_stay_length': avestay, 'kw_dis_r': kw_dis_r, 'kw_admit_r': kw_admit_r}#}
                <div class="stat_patient_wrap">
                    <div class="stat_patient_heading">{{ dict.patient.user.get_full_name }} <a id="id_{{ dict.patient.pk }}"><div class="arrow-down"></div> </a></div>
                    <div class="toolbar_drop_down_js hide_l" data-toggle_id="id_{{ dict.patient.pk }}">
                        <div class="card_body">
                        <table style="border-collapse: separate;border-spacing: 0 5px;">
                            <tr><td>Average Number of Visits to Hospital</td>
                                <td class = "stat_data_left">
                                   <span class="btm_bdr_org"> Day: {{ dict.visits_per.day|floatformat:2 }}</span>
                                   <span class="btm_bdr_org"> Week: {{ dict.visits_per.week|floatformat:2 }}</span>
                                   <span class="btm_bdr_org"> Month: {{ dict.visits_per.month|floatformat:2 }}</span>
                                   <span class="btm_bdr_org"> Year: {{ dict.visits_per.year|floatformat:2 }}</span>
                                   <span class="btm_bdr_org"> Total: {{ dict.visits_per.total|floatformat:2 }}</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Prescription Frequency</td>
                                <td class = "stat_data_left">
                                    {% for key, value in dict.comm_pres.items %}
                                        <span class="btm_bdr_org"> {{ key }}: {{ value|floatformat:2 }}</span>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr><td>Average Stay Length</td><td class = "stat_data_left">{{ scope_stats.ave_stay_length|floatformat:2 }} Days</td></tr>
                            {% if scope_stats.kw_admit_r %}
                                <tr><td>Average Stay Length</td>
                                    <td class = "stat_data_left">
                                        {% for k, v in dict.kw_admit_r.items %}
                                            <span class="btm_bdr_org">{{ k }}: {{ v }}</span>
                                        {% endfor %}
                                    </td></tr>
                            {% endif %}

                            {% if scope_stats.kw_dis_r %}
                                <tr><td>Discharge Keyword Frequency</td>
                                    <td class = "stat_data_left">
                                        {% for k, v in dict.kw_dis_r.items %}
                                            <span class="btm_bdr_org"> {{ k }}: {{ v }}</span>
                                        {% endfor %}
                                    </td></tr>
                            {% endif %}
                        </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}