{% extends "logIn/banner.html" %}

{% block content %}

<div id="registerBox">
    <form enctype="multipart/form-data" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
		{% for field in form %}
            <div class="fieldWrapper">
				{% if field.errors %}
					<div class="error"> {{ field.errors }} </div>
				{% endif %}
				
                {{ field.label_tag }} {{ field }} 
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" value="Register" class="button">Register</button>
        <button type="button" onclick="window.location.href='/logInuserSelect/' " class="button">Back</button>
    </form>
</div>
{% endblock %}