{% extends "logIn/banner.html" %}

{% block content %}

<div id="registerBox">
    <form enctype="multipart/form-data" action="" method="POST" onsubmit="return confirm('Your account has been successfully created, but is deactive. Awaiting approval from your hospital administrator.');">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }} {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" value="Register" class="button">Register</button>
        <button type="button" onclick="window.location.href='/logInuserSelect/' " class="button">Back</button>
    </form>
</div>
{% endblock %}