/******************EMR******************/
.emr_action_wrap
{
	float: left;
	width: 96%;
	margin: 2%;
	z-index: 101;
}

.emr_toolbox
{
	float: left;
	height: 100%;
	box-shadow: 3px 3px 20px #000;
	font-size: 14pt;
}

.emr_toolbox[data-canadmit="False"]
{
	width: 85%;
}

.emr_toolbox[data-canadmit="True"]
{
	width: 76%;
}

.emr_toolbox_serchbar
{
	border: 1px solid #4fdfdf;
	margin: 0;
	box-sizing: border-box;
	height: 3em;
	float: left;
	width: 40%;
	font-size: inherit;
	padding-left: 1.5%;
}

.emr_toolbox_label
{
	box-sizing: border-box;
	float: left;
	width: calc(100% - 42px);
	height: 1.5em;
	border: 0;
	margin: 0;
	background-color: #000;
	color: #FFF;
	text-align: left;
	z-index: 11;
}

.emr_item_wrap
{
	float: left;
	width: calc(100% - 10px);
	padding: 10px;
	border-bottom: solid 1px #E96F38;

}

.emr_toolbox_checkbox
{
	display: inline-block;
	box-sizing: border-box;
	float: right;
	width: 40px; height: 1.5em;
	border: 0;	margin: 0;	padding: 0;
	background-color: #000;
}

.emr_toolbox_action
{
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 1.5em;
	border: 0;
	margin: 0;
	background-color: #000;
	color: #FFF;
	text-align: right;
	z-index: 11;
}

.emr_toolbox_action:hover
{
	background-color: #df6845;
}

.emr_toolbox_wrap
{
	float: left;
	width: 22.5%;
	margin: 0;
	box-sizing: border-box;
	height: 3em;
	font-size: 14pt;
}

.emr_toolbox_wrap:hover .drop_down
{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #000;
	z-index: 11;
}

.toolbox_action[data-canadmit="False"]
{
	margin-left: 1%;
	width: 14%;
	box-shadow: 3px 3px 20px #000;
}

.toolbox_action[data-canadmit="True"]
{
	margin-left: 1%;
	width: 10%;
	box-shadow: 3px 3px 20px #000;
}

.emr_toolbox_submit
{
	box-sizing: border-box;
	float: left;
	width: 15%;
	height: 3em;
	border: 0;
	margin: 0;
	background-color: #df6845;
	color: #FFF;
	text-align: center;
}

.emr_toolbox_submit:hover {
	background-color: #2D6597;
}

.emr_toolbox_item
{
	position: relative;
	width: 100%;
	height: 3em;
	background-color: #2D6597;
	color: white;
	margin: 0;
	border: 0;
	border-bottom: 1px solid black;
	font-size: 14pt;

	text-align: center;
}

.clickable:hover
{
	background-color: #2D6597;
}

.clickable
{
	background-color: #E96F38;
}

/**********CARD**********/
.card_wrapper
{
	float: left;
	width: calc(25% - 40px);
	margin: 20px;
	box-shadow: 3px 3px 20px #000;
	word-wrap: break-word;
}

.card_wrapper:hover
{
	box-shadow: 3px 3px 20px #E96F38;
}

.card_wrapper[data-nobox="T"]
{
	box-shadow: 3px 3px 20px #000;
}

.card_wrapper_big
{
	width: 75%;
	min-height: 75%;
	margin: 12.4%;
	word-wrap: break-word;
	background-color: #FFF;
	z-index: 401;
}

.overlay
{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 400;
}

.hidden{
	display: none;
}

.card_hf
{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: .5em;
}

.bottom_bg
{
	background-color: #ccc;
}

.text_center
{
    text-align: center;
}

.text_left
{
    text-align: left;
}

.text_right
{
    text-align: right;
}

.card_hf a, a:visited{
    color: #2D6597;
	text-decoration: underline;
    padding-right: 5px;
}

.card_hf a:hover
{
	cursor: pointer;
}

.topborder
{
	border-top: 2px solid black;
}

.bottomborder
{
	border-bottom: 2px solid #E96F38;
}

.generic_item
{
	background-color: #8fdf82;
}

.test
{
	background: url('img/test.png');
}

.vitals
{
	background-color: #df6845;
}

.priority_LOW
{
	color: grey;
}

.priority_MEDIUM
{
	color: black;
}

.priority_HIGH
{
	color: #E96F38;
}

.no_comments
{
	color: grey;
}

.profile
{
	background-color: #df6845;
}

.emr_type_label
{
	position: absolute;
	top: 0; right: .5em;
	height: 2em;
}

.card_hf input[type="button"]
{
	float:left;
	height: 100%;

	margin-right: 3px;

	background-color: #2D6597;
	color: #FFF;

	font-size: inherit;
	border: 0;
}

.card_hf input[type="button"]:hover
{
	background-color: #df6845;
}

.card_body
{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 5%;
}

.card_body table{
	padding: 0;
	margin: 0;
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

.card_body tr:nth-child(odd)
{
	background-color: #e6e6e6;
}

.card_body td
{
	padding: 6px;
}


.card_body img{
	max-width: 100%;
	margin:auto;
}

.card_hf_info
{
    float:right;
    color: black;
}