/******************EMR******************/
#emr_manage
{
	float: left;
	width: 96%;
	margin: 2%;
	margin-top: 4em;
	z-index: 101;
}

#emr_manage .toolbar_searchbar
{
	height: 3em;
	width: 40%;
}

#emr_manage .toolbar_item_wrap
{
	width: 22.5%;
	height: 3em;
	font-size: 14pt;
}

#emr_manage .toolbar_item_wrap[data-canadmit="True"]
{
	width: 10%;
}

#emr_manage .toolbar_item_header
{
	height: 3em;

}

#emr_manage .toolbar_item_label_inline
{
	width: calc(100% - 42px);
	height: 1.5em;
}

#emr_manage .toolbar_item_checkbox
{
	width: 40px; height: 1.5em;

}

#emr_manage .toolbar_submit
{
	width: 15%;
	height: 3em;
}

/************* Stats **************/

#stats_manage
{
	float: left;
	width: 96%;
	margin: 2%;
	margin-top: 4em;
	z-index: 101;
}

#stats_manage .toolbar_searchbar
{
	height: 3em;
	width: 30%;
}

#stats_manage .toolbar_item_wrap
{
	width: 30%;
	height: 3em;
	font-size: 14pt;

}

#stats_manage .toolbar_item_header
{
	height: 3em;
	border-right: solid 2px #E96F38;

}

#stats_manage .toolbar_item_label_inline
{
	width: calc(100% - 42px);
	height: 1.5em;
}

#stats_manage .toolbar_item_checkbox
{
	width: 40px; height: 1.5em;

}

#stats_manage .toolbar_submit
{
	width: 10%;
	height: 3em;
}

#stats_manage .toolbar_item_kw {
	height: 2em;
	width: 100%;
}

/************** logs ****************/
#log_manage
{
	float: left;
	width: 96%;
	margin: 2%;
	margin-top: 4em;
	z-index: 101;
}

#log_manage .toolbar
{
	width: 100%;
}

#log_manage .toolbar_searchbar
{
	height: 3em;
	width: 50%;
}

#log_manage .toolbar_item_wrap
{
	width: 40%;
	height: 3em;
	font-size: 14pt;

}

#log_manage .toolbar_item_header
{
	height: 3em;
	border-right: solid 2px #E96F38;

}

#log_manage .toolbar_item_label_inline
{
	width: calc(100% - 42px);
	height: 1.5em;
}

#log_manage .toolbar_item_checkbox
{
	width: 40px; height: 1.5em;

}

#log_manage .toolbar_submit
{
	width: 10%;
	height: 3em;
}

#log_manage .toolbar_item_kw {
	height: 2em;
	width: 100%;
}

/************** TOOLBAR *************/

.toolbar
{
	float: left;
	height: 100%;
	box-shadow: 3px 3px 20px #000;
	font-size: 14pt;
}

.toolbar_searchbar
{
	border: 1px solid #4fdfdf;
	margin: 0;
	box-sizing: border-box;
	float: left;
	font-size: inherit;
	padding-left: 1.5%;
}

.toolbar_item_wrap {
	float: left;
	margin: 0;
	box-sizing: border-box;
}

.toolbar_item_wrap:hover .toolbar_drop_down_css
{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #000;
	z-index: 11;
}

.toolbar_item_header
{
	position: relative;
	width: 100%;
	background-color: #2D6597;
	color: white;
	margin: 0;
	border: 0;
	border-bottom: 1px solid black;
	font-size: 14pt;
	text-align: center;
}


.toolbar_item_label_inline
{
	box-sizing: border-box;
	float: left;
	border: 0;
	margin: 0;
	background-color: #000;
	color: #FFF;
	text-align: left;
	z-index: 11;
}

.toolbar_drop_down_css
{
	position: relative;
	width: 100%;
	height: 0;
	background-color: #000;
	z-index: 11;
	overflow: hidden;
}

.toolbar_drop_down_js
{
	position: relative;
	width: 100%;
	background-color: #000;
	z-index: 11;
	overflow: hidden;
}


.toolbar_item
{
	float: left;
	width: calc(100% - 10px);
	padding: 10px;
	border-bottom: solid 1px #E96F38;

}

.toolbar_item_clickable
{
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 1.5em;
	border: 0;
	margin: 0;
	background-color: #000;
	color: #FFF;
	text-align: right;
	z-index: 11;
}

.toolbar_item_clickable:hover
{
	background-color: #df6845;
}

.toolbar_item_checkbox
{
	display: inline-block;
	box-sizing: border-box;
	float: right;
	border: 0;	margin: 0;	padding: 0;
	background-color: #000;
}

.toolbar_item_kw
{
	float: left;
	border: 0;
	border-right: 1px solid #4fdfdf;
	margin: 0;
	box-sizing: border-box;
	font-size: inherit;
	padding-left: 1.5%;
	background-color: #333333;
	color: white;
}


.toolbar_submit
{
	box-sizing: border-box;
	float: left;
	border: 0;
	margin: 0;
	background-color: #df6845;
	color: #FFF;
	text-align: center;
}


.clickable:hover
{
	background-color: #2D6597;
}

.clickable
{
	background-color: #E96F38;
}

.emr_toolbar_action[data-canadmit="False"]
{
	margin-left: 1%;
	width: 11%;
	box-shadow: 3px 3px 20px #000;
}

.emr_toolbar_action[data-canadmit="True"]
{
	margin-left: 1%;
	width: 10%;
	box-shadow: 3px 3px 20px #000;
}

#emr_toolbar[data-canadmit="False"]
{
	width: 76%;
}

#emr_toolbar[data-canadmit="True"]
{
	width: 67%;
}


/**********CARD**********/
.card_wrapper
{
	width: 23%;
	box-shadow: 3px 3px 20px #000;
	word-wrap: break-word;
	margin: 1%;
}

.grid
{
	position: relative;
	top: 8em;
	left:0;
	width: 100%;
}

.grid-item
{

}

.grid-sizer
{
	width: 23%;
}

.card_wrapper:hover
{
	transition: box-shadow 0.5s linear;
	box-shadow: 3px 3px 20px #E96F38;
}

.card_wrapper[data-nobox="T"]
{
	box-shadow: 3px 3px 20px #000;
}

.card_wrapper_big
{
	width: 75%;
	min-height: 75%;
	margin: 6em 12.5% 3% 12.5%;
	word-wrap: break-word;
	background-color: #FFF;
	z-index: 401;
	box-shadow: 3px 3px 20px #000;
}

.overlay
{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,.9);
	z-index: 400;
}

.emr_test_image
{
	width: 100%;
}

.emr_test_image_wrap
{
	margin-left: auto;
	margin-right:auto;
	width: 100px;
}

.noscroll
{
	overflow: hidden;
}

.hidden{
	display: none;
}

.card_hf
{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: .5em;
}

.bottom_bg
{
	background-color: #ccc;
}

.text_center
{
    text-align: center;
}

.text_left
{
    text-align: left;
}

.text_right
{
    text-align: right;
}

.card_hf a, a:visited{
    color: #2D6597;
	text-decoration: underline;
    padding-right: 5px;
}

.card_hf a:hover
{
	cursor: pointer;
}

.topborder
{
	border-top: 2px solid black;
}

.bottomborder
{
	border-bottom: 2px solid #E96F38;
}

.generic_item
{
	background-color: #8fdf82;
}

.test
{
	background: url('img/test.png');
}

.vitals
{
	background-color: #df6845;
}

.priority_LOW
{
	color: grey;
}

.priority_MEDIUM
{
	color: black;
}

.priority_HIGH
{
	color: #E96F38;
}

.no_comments
{
	color: grey;
}

.profile
{
	background-color: #df6845;
}

.emr_type_label
{
	position: absolute;
	top: 0; right: .5em;
	height: 2em;
}

.card_hf input[type="button"]
{
	float:left;
	height: 100%;

	margin-right: 3px;

	background-color: #2D6597;
	color: #FFF;

	font-size: inherit;
	border: 0;
}

.card_hf input[type="button"]:hover
{
	background-color: #df6845;
}

.card_body
{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 5%;
}

.card_body table{
	padding: 0;
	margin: 0;
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

.card_body tr:nth-child(odd)
{
	background-color: #e6e6e6;
}

.card_body td
{
	padding: 6px;
}

.card_hf_info
{
    float:right;
    color: black;
}

/* STATS */
.stat_searchbar
{
	width: 30%;
}

.stat_tool_wrap
{
	float: left;
	width: 30%;
	margin: 0;
	box-sizing: border-box;
	height: 3em;
	font-size: 14pt;

}

.submit_stat
{
	width: 10%;
}

.no_border
{
	border: 0;
}

.split_field_stat input[type = "text"]
{
	float: left;
	border: 0;
	border-right: 1px solid #4fdfdf;
	margin: 0;
	box-sizing: border-box;
	height: 2em;
	width: 49%;
	font-size: inherit;
	padding-left: 1.5%;
	background-color: #333333;
	color: white;
}

.split_field_stat .clockpicker
{
	float: left;
}

.stat_label
{
	float: left;
	width: 100%;
	padding: 3px;
	color: white;
	border-bottom: solid 1px #E96F38;
}

.stat_drop_down
{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #000;
	z-index: 11;
}

.stat_data_left
{
	background-color: rgba(0,0,0,0.4);
	color: white;
}

.btm_bdr_org
{
	position: relative;
	width: 200px;
	border: 0;
	margin: 3px 0 3px 0;
	border-bottom: solid 2px #E96F38;
	display: block;
}

.half
{
	/* display: inline; */
	width: 36%;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 50px;
}

.stat_patient_wrap
{
	position: relative;
	width: 100%;
	top:0; left:0;
}

.stat_patient_heading
{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 3px;
	border-bottom: solid 2px #E96F38;
}

.stat_patient_heading a
{
	float: right;
	text-decoration: none;
	color: #E96F38;
	margin-bottom: -10px;
}

.stat_patient_heading a:hover
{
	cursor: pointer;
}