body {
	background-color: white;
	color: black;
	margin: auto;
	width: 100%;
	min-width: 360px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16pt;
}

*
{
	font-size: inherit;
}

li {
	list-style-type: none;
	text-decoration: none;
}

#banner {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	background-color: #2D6597;
	color: white;
	padding: 50px 0px 40px 10%;
	font-size: 42pt;
	box-shadow: 3px 3px 20px #000;
}

#baseBanner {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	background-color: #2D6597;
	color: white;
	padding: 100px 0px 40px 10%;
	font-size: 42pt;
	box-shadow: 3px 3px 20px #000;
}

#subBanner {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
	background-color: #E96F38;
	color: white;
	padding: 20px 10% 10px 0px;
	font-size: 32pt;
	box-shadow: 3px 3px 20px #000;
}

#navbar {
	display: inline;
	margin: 0;
	padding: 0;
	top:0;
	left: 0;
	margin: 0px;
	width: 100%;
	list-style-type: none;
	position: fixed;
	background-color: black;
	box-shadow: 3px 3px 20px #000;
	z-index: 11;
}

#navbar li a {
	font-family: colaborate, 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	float: right;
    text-align: center;
	font-size: 24pt;
    padding: 7px 3% 7px 3%;
    text-decoration: none;
	transition: background-color 1s;
}

#navbar li a:hover {
	background-color: #2D6597;
}

#centerBox {
	margin: auto;
	width: 20%;
	margin-top: 100px;
	text-align: center;
	line-height: 45px;
	box-shadow: 3px 3px 20px #000;
	padding: 25px 5% 25px 5%

}

#registerBox {
	margin: auto;
	width: 25%;
	margin-top: 100px;
	text-align: left;
	line-height: 45px;
	box-shadow: 3px 3px 20px #000;
	padding: 25px 5% 25px 5%;
}

#contentBox {
	margin: auto;
	width: 40%;
	margin-top: 80px;
	text-align: left;
	line-height: 45px;
	box-shadow: 3px 3px 20px #000;
	padding: 25px 5% 25px 5%;
}

#centerBox h2 {
	font-size: 32pt;
	width: 100%;
}

.center {
	text-align: center
}

.calendarBox {
	width: 20%;
	padding: 10px;
	margin: 25px 2.5% 20px 2.5%;
	display: inline-block;
	line-height: 25px;
	box-shadow: 3px 3px 20px #000;
}

.button {
	text-align: center;
	margin: 10px;
	border: none;
	outline: none;
	background-color: #E96F38;
	color: white;
	font-size: 18pt;
	padding: 15px;
	margin-top: 20px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 1s;
}

.calendar {
	padding: 25px 2.5% 15px 2.5%;
	margin-bottom: 20px;
	text-align: center;
}

.button:hover {
	background-color: #2D6597;
}

.left {
	float: left;
}

.right {
	float: right;
}

#navbar li a .right {
	float: right;
}

DIV.fieldWrapper
{
	width: 100%;
}


/*JAKES CSS*/

.horizontal_form
{
	position: relative;
	top: 1em;
	margin: auto;
	text-align: center;
	width: 100%;
	box-shadow: 3px 3px 20px #2D6597;
}


.horizontal_form_label
{
	width: 20%;
	height: 100%;
	margin:0;
	padding:0;
	display: inline-block;
	background-color: #2D6597;
}

.horizontal_form input[type='text']
{
	height: 1.5em;
	width: 80%;
	font-size:20px;
}

.horizontal_form li
{
	width: 40%;
	display: inline-block;
}

.horizontal_form ul li
{
	display: inline-block;
}

#id_filterBy li
{
	width:31%;
	margin: 0;
}

#search_results
{
	position: relative;
	top: 20px;
}

/**********CARD**********/
.card_wrapper
{
	float: left;
	width: 25%;
	margin: 2%;
	box-shadow: 3px 3px 20px #000;
	word-wrap: break-word;
}

.card_hf
{
	position: relative;
	width: 100%;
	text-align: center;
	height: 2em;
}

.topborder
{
	border-top: 2px solid black;
}

.bottomborder
{
	border-bottom: 2px solid black;
}

.generic_item
{
	background-color: #8fdf82;
}

.test
{
	background-color: #4fdfdf;
}

.vitals
{
	background-color: #df6845;
}

.profile
{
	background-color: #df6845;
}

.card_hf input[type="button"]
{
	float:left;
	height: 100%;

	margin-right: 3px;

	background-color: #2D6597;
	color: #FFF;

	font-size: inherit;
	border: 0;
}

.card_body
{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 5%;
}

/*********INLINE CARD***********/
.inline_card
{
	display: inline-block;
	height: 2.5em;
	border-bottom: solid black 2px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.inline_card_item
{
	float:left;
	height: 100%;
	background-color: #bfbfbf;
	border: 0;
	font-size: inherit;
	width: 10em;

}

.inline_card_item:hover
{
	transition: background-color 0.3s;
	background-color: #E96F38;
}

.inline_card_label
{
	float:left;
	height: 100%;

	background-color: #2D6597;
	color: #FFF;

	font-size: inherit;

	border: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 6em;
}


.half
{
	display: inline;
	width: 45%;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 80px;
}

.content_box
{
	margin: auto;
	width: 40%;
	margin-top: 80px;
	text-align: left;
	line-height: 45px;
	box-shadow: 3px 3px 20px #000;
	padding: 25px 5% 25px 5%;
}

/******************EMR BOTTOM BAR******************/
.emr_toolbox
{
	float: left;
	width: 96%;
	margin: 2%;
	box-shadow: 3px 3px 20px #000;
	z-index: 101;
}

.emr_toolbox_serchbar
{
	border: 1px solid #4fdfdf;
	margin: 0;
	box-sizing: border-box;
	height: 3em;
	float: left;
	width: 40%;
	font-size: inherit;
	padding-left: 1.5%;
}

.emr_toolbox_label
{
	box-sizing: border-box;
	float: left;
	width: calc(100% - 42px);
	height: 1.5em;
	border: 0;
	margin: 0;
	background-color: #333333;
	color: #FFF;
	text-align: left;
	z-index: 11;
}

.emr_toolbox_checkbox
{
	display: inline-block;
	box-sizing: border-box;
	float: right;
	width: 40px; height: 1.5em;
	border: 0;	margin: 0;	padding: 0;
	background-color: #333333;
}

.emr_toolbox_action
{
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 1.5em;
	border: 0;
	margin: 0;
	background-color: #333333;
	color: #FFF;
	text-align: right;
	z-index: 11;
}

.emr_toolbox_action:hover
{
	background-color: #df6845;
}

.emr_toolbox_wrap
{
	float: left;
	width: 15%;
	margin: 0;
	box-sizing: border-box;
	height: 3em;
}

.emr_toolbox_submit
{
	box-sizing: border-box;
	float: left;
	width: 15%;
	height: 3em;
	border: 0;
	margin: 0;
	background-color: #df6845;
	color: #FFF;
	text-align: center;
}

.emr_toolbox_submit:hover {
	background-color: #2D6597;
}

.emr_toolbox_item
{
	position: relative;
	width: 100%;
	height: 3em;
	background-color: grey;
	margin: 0;
	border: 0;
	border-bottom: 1px solid black;

	text-align: center;
}

.emr_toolbox_wrap .drop_down
{
	position: relative;
	width: 0;
	height: 0;
	overflow: hidden;
}

.emr_toolbox_wrap:hover .drop_down
{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #333333;
	z-index: 11;
}




