{% extends 'logIn/banner.html' %}
{% block content %}
<div class="cardWrapper">
	<div class="card">
		<h2>Returning User?</h2>
		<h3>Please log in</h3>
		
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
				<div class="fieldWrapper">
					{% if field.errors %}
						<div class="error"> {{ field.errors }} </div>
					{% endif %}
					
					{{ field.label_tag }} {{ field }} 
					{% if field.help_text %}
						<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				</div>
			{% endfor %}
			<input type="submit" value="Log In" class="button blockDisplay"/>
		</form>
	
	</div>
	
	<div class="card">
		<h2>New to HealthNet?</h2>
		<h3>Please register</h3>
		
			<a href="/register/" class="button blockDisplay">Patient Registration</a> 
			<a href="{% url 'logIn:userSelect' %}" class="button blockDisplay">Staff Registration</a>
	
	</div>
</div>
{% endblock %}
