{% extends 'emr/base_emr.html' %}
{% block back %}<button onclick="go('{% url 'emr:vemr' patient.pk %}')">Back</button>{% endblock %}
{% load staticfiles %}

{% block content %}
    <div id="registerBox">
        {% if formtitle %}
            <h1>{{ formtitle }}</h1>
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Save" />
        </form>
    </div>
{% endblock %}