{% extends 'User/base.html' %}

{% block calendar %}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Info Type</th>
            <th>Data</th>
        </tr>
        <tr>
            <td>Resting BPM</td>
            <td>{{ emrv.restingBPM }}</td>
        </tr>
        <tr>
            <td>Blood Pressure</td>
            <td>{{ emrv.bloodPressure }}</td>
        </tr>
        <tr>
            <td>Height</td>
            <td>{{ emrv.height }}</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>{{ emrv.weight }}</td>
        </tr>
    </table>

    {% if userType == "doctor" %}
        <label>Comments:</label>
        <form action="{% url 'emr:index' vitals %}" method="POST">
        <p>
            <input type="text" name="comment" style="height:200px;length:400" value={{ emrv.comments }}/>
        <input type="submit" value="Save"/>
        </p>
        </form>
    {% else %}
        <label>Comments:</label>
        <p>
            {{ emrv.comments }}
        </p>
    {% endif %}
{% endblock %}