{% if EMRProfile %}
<div class="card_wrapper">
    <div class="card_hf bottomborder profile">{{ tuser.user.get_full_name }}'s Profile</div>
    <div class="card_body">
        <table>
           <tr><td>Insurance Number: </td><td>{{ EMRProfile.getInumber }}</td></tr>
            <tr><td>Birthdate: </td><td>{{ EMRProfile.birthdate }}</td></tr>
            <tr><td>Age:</td><td>{{ EMRProfile.getAge }}</td></tr>
            <tr><td>Gender: </td><td>{{ EMRProfile.gender }}</td></tr>
            <tr><td>Blood Type: </td><td>{{ EMRProfile.blood_type }}</td></tr>
            <tr><td>Family History: </td><td>{{ EMRProfile.family_history }}</td></tr>
            <tr><td>Comments: </td><td>{{ EMRProfile.comments }}</td></tr>
            {% if hospital %}
                <tr><td>Admitted To:</td><td>{{ hospital.name }}</td></tr>
            {% endif %}
        </table>
    </div>
    <div class="card_hf topborder"><input type = "button" value = "details"/>
            <input type = "button" value = "edit" onclick="window.location='{% url 'emr:eprofile' tuser.id %}'"/></div>
</div>
{% endif %}

{% for item in EMRItems %}
    <div class = "card_wrapper">
        <div class="card_hf bottomborder {{ item.getType }}">{{ item.title }}</div>

        <div class = "card_body">
            <table>
                {% if item.emrtest %}
                    <img src="{% url 'emr:testmedia' item.pk %}" />
                {% elif item.emrvitals %}
                    <tr><td>Resting BPM:</td><td>{{ item.emrvitals.restingBPM }}</td></tr>
                    <tr><td>Blood Pressure:</td><td>{{ item.emrvitals.bloodPressure }}</td></tr>
                    <tr><td>Height:</td><td>{{ item.emrvitals.height }}</td></tr>
                    <tr><td>Weight:</td><td>{{ item.emrvitals.weight }}</td></tr>
                {% elif item.emrprescription %}
                    <tr><td>Dosage:</td><td>{{ item.emrprescription.dosage }}</td></tr>
                    <tr><td>Dose/day:</td><td>{{ item.emrprescription.amountPerDay }}</td></tr>
                    <tr><td>Start Date:</td><td>{{ item.emrprescription.startDate }}</td></tr>
                    <tr><td>End Date:</td><td>{{ item.emrprescription.endDate }}</td></tr>
                    <tr><td>Provider:</td><td>{{ item.emrprescription.proivder.get_full_name }}</td></tr>
                {% endif %}
                {{ item.content }}
            </table>
        </div>

        <div class = "card_hf topborder">
            <input type = "button" value = "details" />
            <input type = "button" value = "edit" onclick="window.location='{% url 'emr:eemrItem' item.id %}'"/>
            <li>Priority: {{ item.priority }}</li>
        </div>
    </div>
{% endfor %}